<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">GALEME</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Criar conta</h5>
                  </div>

                  <form class="row g-3 needs-validation" novalidate [formGroup]="form">
                    <div class="col-12">
                      <label for="firstName" class="form-label">Primeiro nome</label>
                      <input type="text"class="form-control" id="firstName" formControlName="firstName" placeholder="Seu primero nome" autocomplete="given-name">
                    </div>

                    <div class="col-12">
                      <label for="lastName" class="form-label">Seu último nome</label>
                      <input type="text"class="form-control" id="lastName" formControlName="lastName" placeholder="Seu último nome" autocomplete="family-name">
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email"class="form-control" id="email" formControlName="email" placeholder="Seu Email" autocomplete="email">
                      </div>

                    <div class="col-12">
                      <label for="Password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="Password" formControlName="password" placeholder="Crie uma senha" autocomplete="new-password">
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" (click)="submit()">Criar conta</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
</body>


